button {
  background-color: #3056d3 !important;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.disabled {
  background-color: #8590b3 !important;
  color: rgb(202, 180, 180) !important;
}
