<mat-card>
    <mat-card-content>
        <div id="cont-btn-art">
            <button mat-raised-button>
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            <form>
                <mat-form-field class="example-full-width">
                    <mat-label>Referencia</mat-label>
                    <input matInput>
                </mat-form-field>
            </form>
        </div>
        <div id="cont-form">
            <form>
                <mat-form-field>
                    <mat-label>Venta Para</mat-label>
                    <mat-select>
                        <!-- <mat-option *ngFor="let opcion of opcionesVentaPara" [value]="opcion">{{opcion}}</mat-option> -->
                        @for (opcion of opcionesVentaPara; track opcion) {
                        <mat-option [value]="opcion">{{opcion}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Forma De Pago</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let formaPago of formasDePago"
                            [value]="formaPago">{{formaPago}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
</mat-card>