<div class="container">
  <header>
    <h2>Gestión de checks de clientes</h2>
  </header>
  <section>
    <form>
      <mat-form-field>
        <mat-label>Tipo de identificacion</mat-label>
        <mat-select [(ngModel)]="typeIdentification" name="typeIdentification">
          <mat-option
            value="one"
            *ngFor="let type of typesIdentifications"
            [value]="type.value"
            >{{ type.name | titlecase }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Identificacion del cliente</mat-label>
        <input matInput [(ngModel)]="dniCustomer" name="dniCustomer" />
      </mat-form-field>
      <span>
        <app-button-blue (pressClick)="getReservationToCheck()"
          >Check</app-button-blue
        ></span
      >
    </form>
  </section>
</div>
