.container {
  width: 80vw;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
h3 {
  height: 10%;
  margin: 10px 0;
  font-weight: bold;
}
form {
  height: 78%;
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

form span{
  display: flex;
  justify-content: space-between;
  width: 48%;
}

/*mat-form-field {
  width: 48%;
}*/

.big{
  width: 100%;
}

.small{
  width: 48%;
}

footer {
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer app-button-blue {
  height: 70% !important;
  width: 30% !important;
}

.facture{
  visibility: hidden;
}